<div class="container">
    <div class="row">
        <div class="col-7 mx-auto my-5 shadow-lg rounded rounded-5 p-5">
            <div *ngIf="show_pop">
                <div class="text-center mb-4">
                    <h1 class="fs-2">Create Account</h1>
                    <p class="fs-4">Make Account Carefully</p>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="fillname" class="form-label">Name</label>
                        <input type="text" class="form-control" id="fillname" aria-describedby="emailHelp"
                            placeholder="Fill Name" [(ngModel)]="signupObj.userName"
                            [ngModelOptions]="{standalone: true}">
                        <div id="emailHelp" class="form-text">Full Name with LastName.</div>
                    </div>
                    <div class="mb-3">
                        <label for="Mobile" class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" id="Mobile" placeholder="Fill Mobile Number"
                            [(ngModel)]="signupObj.phoneNo" [ngModelOptions]="{standalone: true}" >
                    </div>
                    <div class="mb-3">
                        <label for="Mail" class="form-label">Email Address</label>
                        <input type="email" class="form-control" id="Mail" placeholder="Mail Address"
                            [(ngModel)]="signupObj.email" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Password" placeholder="Password Strong"
                            [(ngModel)]="signupObj.password" [ngModelOptions]="{standalone: true}">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="onSignUp()">Create Account</button>
                </form>
            </div>
            <div *ngIf="hide_pop">
                <!-- LOGIN POP  -->
                <div class="text-center mb-4">
                    <h1 class="fs-2">Admin Area</h1>
                    <p class="fs-4">Login Account</p>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Admin Mail" [(ngModel)]="loginObj.email" [ngModelOptions]="{standalone: true}" value="admin@mail.com">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Admin Password" [(ngModel)]="loginObj.password"
                            [ngModelOptions]="{standalone: true}" value="11221122">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="onlogin()">Submit</button>
                </form>
            </div>
            <!-- LOGIN POP END -->
            <p class="text-decoration-none text-primary fs-6 mt-4 d-block mb-0 link_text" (click)="openLogin()" *ngIf="account_link_login">Click to Login
                Account</p>
                <p class="text-decoration-none text-primary fs-6 mt-4 d-block mb-0 link_text" (click)="openSignUp()" *ngIf="account_link_signup">Click to SignUp
                    Account</p>

                    <p class="text-decoration-none text-primary fs-6 mt-4 d-block mb-0 link_text" routerLink="/propertis" *ngIf="account_link_home">Home</p>
        </div>
    </div>
</div>
