/* You can add global styles to this file, and also import other style files */
.btn_font {
    font-size: 12px !important;
    padding: 4px 18px !important;
    display: inline-block !important;
}
.nav-link {
    cursor: pointer;
}